<div class="row">
  <div class="col-md-6 offset-md-3 my-4">
    <h3>Login</h3>
    <hr />
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" />
        <div
          class="text-danger"
          *ngIf="
            loginForm.get('email')?.touched && !loginForm.get('email')?.valid
          "
        >
          <div *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is Required
          </div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">
            Invalid Email
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div
          class="text-danger"
          *ngIf="
            loginForm.get('password')?.touched && !loginForm.get('password')?.valid
          "
        >
          <div *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is Required
          </div>
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
