<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-4">
      <h3>Sign up</h3>
      <hr />
      <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" />
          <div
            class="text-danger"
            *ngIf="
              signupForm.get('email')?.touched &&
              !signupForm.get('email')?.valid
            "
          >
            <div *ngIf="signupForm.get('email')?.errors?.['required']">
              Email is Required
            </div>
            <div *ngIf="signupForm.get('email')?.errors?.['email']">
              Invalid Email
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div
            class="text-danger"
            *ngIf="
              signupForm.get('password')?.touched &&
              !signupForm.get('password')?.valid
            "
          >
            <div>Password is Required</div>
          </div>
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!signupForm.valid"
          >
            SignUp
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
