<div class="row my-4">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
      <div class="form-group mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div
          *ngIf="
            postForm.get('title')?.touched && !postForm.get('title')?.valid
          " class="text-danger"
        >
          <div
            *ngIf="postForm.get('title')?.errors?.['required']"
          >
            Title is required
          </div>
          <div
            *ngIf="postForm.get('title')?.errors?.['minlength']"
          >
            Title should be a minimum of 6 characters
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div
          *ngIf="
            postForm.get('description')?.touched &&
            !postForm.get('description')?.valid
          " class="text-danger"
        >
          <div
            *ngIf="postForm.get('description')?.errors?.['required']"
          >
            Description is required
          </div>
          <div
            *ngIf="postForm.get('description')?.errors?.['minlength']"
          >
            Description should be a minimum of 10 characters
          </div>
        </div>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Update Post</button>
      </div>
    </form>
  </div>
</div>
